<h1>Gulp Asset Pipeline</h1>
<h2>v2.0</h2>

<p>This is based on the original gulp-asset-pipeline but updated with the gulp-starter 2.0 branch tasks.</p>

<ul>
  <h3>Featuring</h3>
  <li>Webpack</li>
  <li>Browsersync</li>
  <li>Sass</li>
  <li>SVG Powered Icon Font</li>
  <li>
    SVG Sprite Sheet
    <%== svgsprite(class: 'svg-example', id: "eyeball") %>
  </li>
</ul>
